/* regole generali */
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
   
}
/* parte superiore */
.row-superiore{ 
    height: 70px;
    background-color: rgba(0,0,0,0.8); 
    position: fixed;
    width:calc(100% - 200px);
    top: 0;
    right: 0;
    z-index: 2000;
    
    
    
    
}
.button{ 
    color: white;
    border-radius: 30px;
    font-size: 10px;
    padding: 10px;
    background-color: #080b12;
    border-color: #c2c3c5;
    width: 150px;
    position: absolute;
    right: 0;
    top: 50%;
    transform:translate(0, -50%);
    transition: 0.5s all ease-in-out;
}
/* hover button */
.button:hover{ 
    transform:scale(1.3);
    cursor: pointer;
}
.upper{ 
    height: calc(100vh - 80px);
    display: flex;
    
}
/* side */
.spotify{ 
    color: white;
}
.side{ 
    width:200px;
    height: 100%;
    background-color:#000000 ;
    color:#a3a3a3;
    position: relative;
    
    
   
}
/* icone home */
.home img{ 
    width: 10%;
    margin-left: 5px;
    line-height: 20px;
    vertical-align: middle;
}

li{ 
    text-decoration: none;
}
/* hover li */
li:hover{ 
    color: white;
    transition: 2;
}
.title{ 
    color: white;
}
.grey{ 
    color:#a3a3a3;
}
.white{ 
    color: white;
}
#logo{ 
    width: 60%;
}
/* specifiche icone side */
i{ 
    color: white;
    margin: 10px;
}
.fa-square-plus{ 
    color: #a3a3a3;
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: middle;
}
/* hover classe centralizzata side */
.white-hov:hover{ 
    color: white;
    cursor: pointer;
}
.home:hover{ 
    color: white;
}
strong{ 
    margin: 10px;
}
/* parte barra laterale installa app */
.app{ 
    border-bottom: 0.5px solid #a3a3a3;
    display: inline-block;
    margin-left: 10px;
    width: 80%;
    padding-bottom: 10px;
}
.app i{ 
    margin: 0;
    margin-right: 5px;
}
.play{ 
    margin: 10px 10px;
    overflow: auto;
    list-style-type: none;
}
.user img { 
    width: 20px;
    background-color: #a3a3a3;
    border-radius: 50%;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 30px;
    vertical-align: middle;
}
/* installa app posizionato in basso */

.bottom{ 
    position: absolute;
    
    bottom: 0;
    left: 0;

}

/* barra laterale verde */
.line{ 
    border-left: 3px solid #affe2f;
    
   
    
}

/* main */
main{ 
    flex-grow: 1;
    height: 100%;
    background-color: #141922;

   
}
/* versione list sm,md,lg */
.list{ 
    display: none;
}


/* sezione album */

.contenitore{ 
    width: calc(100% - 200px);
    padding-top: 80px;
    overflow: auto;
    

}

/* barra navigazione centrale */

/* linea verde */
.green-line{ 
    position: relative;
    display: inline-block;
   
}
.green-line::after{ 
    content: "";
    width: 35%;
    display: block;
    position: absolute;
    background-color:#affe2f;
    height: 2px;
    top: 15px;
    left: 25px;
    bottom: 30px;
}
h2 { 
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}
h3{ 
    color: white;
    margin: 5px 5px;
}
.album{ 
    width:calc(100% / 6 - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
}
.album img{ 
    width: 100%;
}
/* hover album */
.album:hover{ 
    opacity: 0.4;
}
/* hover play album */
.cd{ 
    position: absolute;
    top: 50%;
    transform: translate(-90px, -65px);
    display: none;
   
    
    
}
.album:hover .cd{ 
    display:block;
}

section > .sottotitolo{ 
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
}
/* foto tonde */
.album.circle img{ 
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.album.circle{ 
  height:calc(((100vw - 200px) / 6 ) - 20px);
}
.sottotitolo{ 
    color: #a3a3a3;
    font-size: 0.65rem;
}
/* versione tablet */
@media screen and (max-width:768px) {
    .album{
        width: calc(100% / 4 - 20px);
    }
    .album.circle{ 
        height:calc(((100vw - 200px) / 4 ) - 20px);
    }
    a{ 
        margin-bottom: 10px;
        display: inline-block;
    }
}
/* versione sm */
@media screen and (max-width:576px) {
    .album{
        width: calc(100% / 2 - 20px);
    }
    .album.circle{ 
        height:calc(((100vw - 200px) / 2 ) - 20px);
    }
   
}

/* versione xs menu di navigazione laterale */
@media screen and (max-width:420px) {
    .list-item, #logo{ 
        display: none;
    }
    .list{ 
        display: block;
    }
    .side{ 
        width: 50px;
    }
    .row-superiore{ 
        width: calc(100% - 50px);
    }
    .contenitore{ 
        width: calc(100% - 50px);
    }
    .album.circle{ 
        height:calc(((100vw - 50px) / 2 ) - 20px);
      }
      .logo-small{ 
        width: 40%;
        margin: 5px 5px;
      }
      .text-app{ 
        display: none;
      }
     
}

a{ 
    text-decoration: none;
    color: #a3a3a3;
    margin: 10px;
    
}
.navigazione{ 
    text-align: center;
    margin-bottom: 15px;
    
}

/* footer */

footer{ 
    height: 80px;
    background-color:#282828;
    position: relative;
    z-index: 800;
}
footer .row{ 
    justify-content: space-between;
 }
 /* struttura footer */
.block{ 
    display: flex;
    padding: 10px;
    align-items: center;
    height: 80px;
    gap: 5px;
    width: 30%
}
.block.two{ 
    display: inline-block;
    text-align: center;
  
}

.block.tre{ 
    justify-content: flex-end;
}


/* album player */

 .photo{ 
    width: 20%;
    
 }   
.photo img{ 
    width: 100%;
}
.text-photo{ 
    margin-right: 10px;
    
}

.sottotitolo.player{ 
    margin-left: 10px;
}
.sottotitolo.player:hover{ 
    text-decoration: underline;
}

.icon i{ 
  
   color: #a3a3a3;
}
.icon{ 
    margin-left: 10px;
}

/* barra player */
.linea{ 
    height: 3px;
    width: 100%;
    background-color:#5a5a5a;
    border-radius: 5%;
    position: relative;
    line-height:3px;
    vertical-align: middle;
}
.linea .two{
    background-color: #a3a3a3;
    width: 20%;
    position: relative;
}
.number{ 
    color: white;
    position: absolute;
    left:-30px;
}
.number.fine{ 
    color: white;
    position: absolute;
    left: 103%;
}
/* barra player footer */

.fa-circle-play{ 
    font-size: 1.4rem;
    transition: 0.5s all ease-in-out;
        
}

/* play in hover */
.fa-circle-play:hover{ 
    transform: scale(1.5);
}
 .linea.volume{ 
    width: 40%;
    
 }
 h5{ 
    color: white;
    margin-left: 10px;
 }
   
 
 
/* barra verde nel player in hover */
.linea.two:hover{ 
    background-color: #affe2f;
}
.circle.line{ 
    height: 10px;
    width: 10px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: none;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.linea.two:hover .circle{ 
    background-color:#a3a3a3;
    display: block;
    
}

/* versione tablet footer */
@media screen and (max-width:768px) {
    .icon{ 
        margin-left: 0;
    }
    
}

/* versione sm */
@media screen and (max-width:576px) {
    .block{ 
        width: 30%;
        padding: 0;
        position: relative;
    }
    .block.two{ 
        width: 40%;
    }
    .icon{ 
        display: block;
    }
    .icon i{ 
        margin: 3px;
        
    }
    .linea{ 
        position:relative ;
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .linea.volume{ 
        margin: 0;
        
    }
    .linea.two{ 
        position: absolute;
        left: 0;
    }
    .text-photo{ 
        margin-right: 0;
    }
    
   
}
/* versione xs */
@media screen and (max-width:420px){ 
    .icon{ 
        width: 20;
    }
}
