/* regole generali */
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}
/* parte superiore */
.row-superiore{ 
    height: 70px;
    background-color: rgba(0,0,0,0.8); 
    position: fixed;
    width:calc(100% - 200px);
    top: 0;
    right: 0;
    z-index: 1000;
    
    
    
    
}
.button{ 
    color: white;
    border-radius: 30px;
    font-size: 10px;
    padding: 10px;
    background-color: #080b12;
    border-color: #c2c3c5;
    width: 150px;
    position: absolute;
    right: 0;
    top: 50%;
    transform:translate(0, -50%);

    
}
.upper{ 
    height: calc(100vh - 80px);
    display: flex;
    
}
/* side */
.spotify{ 
    color: white;
}
.side{ 
    width:200px;
    height: 100%;
    background-color:#000000 ;
    color:#a3a3a3;
    
   
}
#logo{ 
    width: 60%;
}
/* specifiche icone side */
i{ 
    color: white;
    margin: 10px;
}
.fa-square-plus{ 
    color: #a3a3a3;
    font-size: 2rem;
}
strong{ 
    margin: 10px;
}
.play{ 
    margin: 10px;
    margin-top: 10px;
    list-style-type: none;
}
main{ 
    flex-grow: 1;
    height: 100%;
    background-color: #141922;

   
}
/* versione list sm,md,lg */
.list{ 
    display: none;
}


/* sezione album */
.contenitore{ 
    width: calc(100% - 200px);
    padding-top: 80px;
    overflow: auto;
    

}

h2 { 
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}
h3{ 
    color: white;
    margin: 5px 5px;
}
.album{ 
    width:calc(100% / 6 - 20px);
    margin: 10px;
    text-align: center;
}
.album img{ 
    width: 100%;
}

section > .sottotitolo{ 
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
}
/* foto tonde */
.album.circle img{ 
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.album.circle{ 
  height:calc(((100vw - 200px) / 6 ) - 20px);
}
.sottotitolo{ 
    color: #a3a3a3;
    font-size: 0.65rem;
}
/* versione tablet */
@media screen and (max-width:768px) {
    .album{
        width: calc(100% / 4 - 20px);
    }
    .album.circle{ 
        height:calc(((100vw - 200px) / 4 ) - 20px);
    }
    a{ 
        margin-bottom: 10px;
        display: inline-block;
    }
}
/* versione sm */
@media screen and (max-width:576px) {
    .album{
        width: calc(100% / 2 - 20px);
    }
    .album.circle{ 
        height:calc(((100vw - 200px) / 2 ) - 20px);
    }
   
}

/* versione xs menu di navigazione laterale */
@media screen and (max-width:420px) {
    .list-item, #logo{ 
        display: none;
    }
    .list{ 
        display: block;
    }
    .side{ 
        width: 50px;
    }
    .row-superiore{ 
        width: calc(100% - 50px);
    }
    .contenitore{ 
        width: calc(100% - 50px);
    }
    .album.circle{ 
        height:calc(((100vw - 50px) / 2 ) - 20px);
      }
      .logo-small{ 
        width: 40%;
        margin: 5px 5px;
      }
}

a{ 
    text-decoration: none;
    color: #a3a3a3;
    margin: 10px;
    
}
.navigazione{ 
    text-align: center;
    margin-bottom: 15px;
    
}

footer{ 
    height: 80px;
    background-color:#282828;
}